.ksol-0 {
  margin-left: 0px; }

.ksol-5 {
  margin-left: 5px; }

.ksol-10 {
  margin-left: 10px; }

.ksol-15 {
  margin-left: 15px; }

.ksol-20 {
  margin-left: 20px; }

.ksol-25 {
  margin-left: 25px; }

.ksol-30 {
  margin-left: 30px; }

.ksol-35 {
  margin-left: 35px; }

.ksol-40 {
  margin-left: 40px; }

.ksol-45 {
  margin-left: 45px; }

.ksol-50 {
  margin-left: 50px; }

.ksol-55 {
  margin-left: 55px; }

.ksol-60 {
  margin-left: 60px; }

.ksol-65 {
  margin-left: 65px; }

.ksol-70 {
  margin-left: 70px; }

.ksol-75 {
  margin-left: 75px; }

.ksol-80 {
  margin-left: 80px; }

.ksol-85 {
  margin-left: 85px; }

.ksol-90 {
  margin-left: 90px; }

.ksol-95 {
  margin-left: 95px; }

.ksol-100 {
  margin-left: 100px; }

.ksol-120 {
  margin-left: 120px; }

.ksol-160 {
  margin-left: 160px; }

.ksag-0 {
  margin-right: 0px; }

.ksag-5 {
  margin-right: 5px; }

.ksag-10 {
  margin-right: 10px; }

.ksag-15 {
  margin-right: 15px; }

.ksag-20 {
  margin-right: 20px; }

.ksag-25 {
  margin-right: 25px; }

.ksag-30 {
  margin-right: 30px; }

.ksag-35 {
  margin-right: 35px; }

.ksag-40 {
  margin-right: 40px; }

.ksag-45 {
  margin-right: 45px; }

.ksag-50 {
  margin-right: 50px; }

.ksag-55 {
  margin-right: 55px; }

.ksag-60 {
  margin-right: 60px; }

.ksag-65 {
  margin-right: 65px; }

.ksag-70 {
  margin-right: 70px; }

.ksag-75 {
  margin-right: 75px; }

.ksag-80 {
  margin-right: 80px; }

.ksag-85 {
  margin-right: 85px; }

.ksag-90 {
  margin-right: 90px; }

.ksag-95 {
  margin-right: 95px; }

.ksag-100 {
  margin-right: 100px; }

.ksag-120 {
  margin-right: 120px; }

.ksag-160 {
  margin-right: 160px; }

.kust-0 {
  margin-top: 0px; }

.kust-5 {
  margin-top: 5px; }

.kust-10 {
  margin-top: 10px; }

.kust-15 {
  margin-top: 15px; }

.kust-20 {
  margin-top: 20px; }

.kust-25 {
  margin-top: 25px; }

.kust-30 {
  margin-top: 30px; }

.kust-35 {
  margin-top: 35px; }

.kust-40 {
  margin-top: 40px; }

.kust-45 {
  margin-top: 45px; }

.kust-50 {
  margin-top: 50px; }

.kust-55 {
  margin-top: 55px; }

.kust-60 {
  margin-top: 60px; }

.kust-65 {
  margin-top: 65px; }

.kust-70 {
  margin-top: 70px; }

.kust-75 {
  margin-top: 75px; }

.kust-80 {
  margin-top: 80px; }

.kust-85 {
  margin-top: 85px; }

.kust-90 {
  margin-top: 90px; }

.kust-95 {
  margin-top: 95px; }

.kust-100 {
  margin-top: 100px; }

.kust-120 {
  margin-top: 120px; }

.kust-160 {
  margin-top: 160px; }

.kalt-0 {
  margin-bottom: 0px; }

.kalt-5 {
  margin-bottom: 5px; }

.kalt-10 {
  margin-bottom: 10px; }

.kalt-15 {
  margin-bottom: 15px; }

.kalt-20 {
  margin-bottom: 20px; }

.kalt-25 {
  margin-bottom: 25px; }

.kalt-30 {
  margin-bottom: 30px; }

.kalt-35 {
  margin-bottom: 35px; }

.kalt-40 {
  margin-bottom: 40px; }

.kalt-45 {
  margin-bottom: 45px; }

.kalt-50 {
  margin-bottom: 50px; }

.kalt-55 {
  margin-bottom: 55px; }

.kalt-60 {
  margin-bottom: 60px; }

.kalt-65 {
  margin-bottom: 65px; }

.kalt-70 {
  margin-bottom: 70px; }

.kalt-75 {
  margin-bottom: 75px; }

.kalt-80 {
  margin-bottom: 80px; }

.kalt-85 {
  margin-bottom: 85px; }

.kalt-90 {
  margin-bottom: 90px; }

.kalt-95 {
  margin-bottom: 95px; }

.kalt-100 {
  margin-bottom: 100px; }

.kalt-120 {
  margin-bottom: 120px; }

.kalt-160 {
  margin-bottom: 160px; }

.dsol-0 {
  padding-left: 0px; }

.dsol-5 {
  padding-left: 5px; }

.dsol-10 {
  padding-left: 10px; }

.dsol-15 {
  padding-left: 15px; }

.dsol-20 {
  padding-left: 20px; }

.dsol-25 {
  padding-left: 25px; }

.dsol-30 {
  padding-left: 30px; }

.dsol-35 {
  padding-left: 35px; }

.dsol-40 {
  padding-left: 40px; }

.dsol-45 {
  padding-left: 45px; }

.dsol-50 {
  padding-left: 50px; }

.dsol-55 {
  padding-left: 55px; }

.dsol-60 {
  padding-left: 60px; }

.dsol-65 {
  padding-left: 65px; }

.dsol-70 {
  padding-left: 70px; }

.dsol-75 {
  padding-left: 75px; }

.dsol-80 {
  padding-left: 80px; }

.dsol-85 {
  padding-left: 85px; }

.dsol-90 {
  padding-left: 90px; }

.dsol-95 {
  padding-left: 95px; }

.dsol-100 {
  padding-left: 100px; }

.dsol-120 {
  padding-left: 120px; }

.dsol-160 {
  padding-left: 160px; }

.dsag-0 {
  padding-right: 0px; }

.dsag-5 {
  padding-right: 5px; }

.dsag-10 {
  padding-right: 10px; }

.dsag-15 {
  padding-right: 15px; }

.dsag-20 {
  padding-right: 20px; }

.dsag-25 {
  padding-right: 25px; }

.dsag-30 {
  padding-right: 30px; }

.dsag-35 {
  padding-right: 35px; }

.dsag-40 {
  padding-right: 40px; }

.dsag-45 {
  padding-right: 45px; }

.dsag-50 {
  padding-right: 50px; }

.dsag-55 {
  padding-right: 55px; }

.dsag-60 {
  padding-right: 60px; }

.dsag-65 {
  padding-right: 65px; }

.dsag-70 {
  padding-right: 70px; }

.dsag-75 {
  padding-right: 75px; }

.dsag-80 {
  padding-right: 80px; }

.dsag-85 {
  padding-right: 85px; }

.dsag-90 {
  padding-right: 90px; }

.dsag-95 {
  padding-right: 95px; }

.dsag-100 {
  padding-right: 100px; }

.dsag-120 {
  padding-right: 120px; }

.dsag-160 {
  padding-right: 160px; }

.dust-0 {
  padding-top: 0px; }

.dust-5 {
  padding-top: 5px; }

.dust-10 {
  padding-top: 10px; }

.dust-15 {
  padding-top: 15px; }

.dust-20 {
  padding-top: 20px; }

.dust-25 {
  padding-top: 25px; }

.dust-30 {
  padding-top: 30px; }

.dust-35 {
  padding-top: 35px; }

.dust-40 {
  padding-top: 40px; }

.dust-45 {
  padding-top: 45px; }

.dust-50 {
  padding-top: 50px; }

.dust-55 {
  padding-top: 55px; }

.dust-60 {
  padding-top: 60px; }

.dust-65 {
  padding-top: 65px; }

.dust-70 {
  padding-top: 70px; }

.dust-75 {
  padding-top: 75px; }

.dust-80 {
  padding-top: 80px; }

.dust-85 {
  padding-top: 85px; }

.dust-90 {
  padding-top: 90px; }

.dust-95 {
  padding-top: 95px; }

.dust-100 {
  padding-top: 100px; }

.dust-120 {
  padding-top: 120px; }

.dust-160 {
  padding-top: 160px; }

.dalt-0 {
  padding-bottom: 0px; }

.dalt-5 {
  padding-bottom: 5px; }

.dalt-10 {
  padding-bottom: 10px; }

.dalt-15 {
  padding-bottom: 15px; }

.dalt-20 {
  padding-bottom: 20px; }

.dalt-25 {
  padding-bottom: 25px; }

.dalt-30 {
  padding-bottom: 30px; }

.dalt-35 {
  padding-bottom: 35px; }

.dalt-40 {
  padding-bottom: 40px; }

.dalt-45 {
  padding-bottom: 45px; }

.dalt-50 {
  padding-bottom: 50px; }

.dalt-55 {
  padding-bottom: 55px; }

.dalt-60 {
  padding-bottom: 60px; }

.dalt-65 {
  padding-bottom: 65px; }

.dalt-70 {
  padding-bottom: 70px; }

.dalt-75 {
  padding-bottom: 75px; }

.dalt-80 {
  padding-bottom: 80px; }

.dalt-85 {
  padding-bottom: 85px; }

.dalt-90 {
  padding-bottom: 90px; }

.dalt-95 {
  padding-bottom: 95px; }

.dalt-100 {
  padding-bottom: 100px; }

.dalt-120 {
  padding-bottom: 120px; }

.dalt-160 {
  padding-bottom: 160px; }

.arka-kirmizi {
  background-color: #c4183c !important;
  color: #ffffff; }

.arka-mavi {
  background-color: #0067f4 !important;
  color: #ffffff; }

.arka-turuncu {
  background-color: #f1422a !important;
  color: #ffffff; }

.arka-yesil {
  background-color: #17c671 !important;
  color: #ffffff; }

.arka-sari {
  background-color: #FFDC2E !important;
  color: #ffffff; }

.arka-kahve {
  background-color: #795548 !important;
  color: #ffffff; }

.arka-camurcin {
  background-color: #009688 !important;
  color: #ffffff; }

.arka-pembe {
  background-color: #e91e63 !important;
  color: #ffffff; }

.arka-arduvaz {
  background-color: #607d8b !important;
  color: #ffffff; }

.arka-mor {
  background-color: #673ab7 !important;
  color: #ffffff; }

.arka-menekse {
  background-color: #9c27b0 !important;
  color: #ffffff; }

.arka-civit {
  background-color: #3f51b5 !important;
  color: #ffffff; }

.arka-kehribar {
  background-color: #ffb400 !important;
  color: #ffffff; }

.arka-camgobegi {
  background-color: #28C0DE !important;
  color: #ffffff; }

.arka-turkuaz {
  background-color: #00b8d8 !important;
  color: #ffffff; }

.arka-beyaz {
  background-color: #ffffff;
  color: #000000; }

.arka-siyah {
  background-color: #000000 !important;
  color: #ffffff; }

.arka-gri {
  background-color: #5A6169 !important;
  color: #ffffff; }

.arka-birincil {
  background-color: #3f51b5 !important;
  color: #ffffff; }

.arka-ikincil {
  background-color: #5A6169 !important;
  color: #ffffff; }

.yazi-kirmizi {
  color: #c4183c !important; }

.yazi-mavi {
  color: #0067f4 !important; }

.yazi-turuncu {
  color: #f1422a !important; }

.yazi-yesil {
  color: #17c671 !important; }

.yazi-sari {
  color: #FFDC2E !important; }

.yazi-kahve {
  color: #795548 !important; }

.yazi-camurcin {
  color: #009688 !important; }

.yazi-pembe {
  color: #e91e63 !important; }

.yazi-arduvaz {
  color: #607d8b !important; }

.yazi-mor {
  color: #673ab7 !important; }

.yazi-menekse {
  color: #9c27b0 !important; }

.yazi-civit {
  color: #3f51b5 !important; }

.yazi-kehribar {
  color: #ffb400 !important; }

.yazi-camgobegi {
  color: #28C0DE !important; }

.yazi-turkuaz {
  color: #00b8d8 !important; }

.yazi-beyaz {
  color: #ffffff !important; }

.yazi-siyah {
  color: #000000 !important; }

.yazi-gri {
  color: #5A6169 !important; }

.yazi-koyugri {
  color: #212529 !important; }

.yazi-birincil {
  color: #3f51b5 !important; }

.yazi-ikincil {
  color: #5A6169 !important; }

.sinir-kirmizi {
  border-color: #c4183c !important; }

.sinir-mavi {
  border-color: #0067f4 !important; }

.sinir-turuncu {
  border-color: #f1422a !important; }

.sinir-yesil {
  border-color: #17c671 !important; }

.sinir-sari {
  border-color: #FFDC2E !important; }

.sinir-kahve {
  border-color: #795548 !important; }

.sinir-camurcin {
  border-color: #009688 !important; }

.sinir-pembe {
  border-color: #e91e63 !important; }

.sinir-arduvaz {
  border-color: #607d8b !important; }

.sinir-mor {
  border-color: #673ab7 !important; }

.sinir-menekse {
  border-color: #9c27b0 !important; }

.sinir-civit {
  border-color: #3f51b5 !important; }

.sinir-kehribar {
  border-color: #ffb400 !important; }

.sinir-camgobegi {
  border-color: #28C0DE !important; }

.sinir-turkuaz {
  border-color: #00b8d8 !important; }

.sinir-beyaz {
  border-color: #ffffff !important; }

.sinir-siyah {
  border-color: #000000 !important; }

.sinir-gri {
  border-color: #5A6169 !important; }

.sinir-birincil {
  border-color: #3f51b5 !important; }

.sinir-ikincil {
  border-color: #5A6169 !important; }

body {
  background-color: #e9ecef;
  color: #5A6169 !important; }

.sag-simge {
  margin-left: 8px; }

.sol-simge {
  margin-right: 8px; }

.font-weight-bold {
  font-weight: 500 !important; }

html body {
  overflow-x: hidden; }

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: #5A6169;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); } }
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden; }

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #5A6169; }

.nav-underline .nav-link:hover {
  color: #0067f4; }

.nav-underline .active {
  font-weight: 500;
  color: #212529; }

.text-white-50 {
  color: rgba(255, 255, 255, 0.5); }

.bg-purple {
  background-color: #673ab7; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.lh-100 {
  line-height: 1; }

.lh-125 {
  line-height: 1.25; }

.lh-150 {
  line-height: 1.5; }

.navbar-brand {
  background-color: #ffffff;
  color: #3f51b5 !important;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold !important; }

.btn-outline-light {
  color: #ffffff !important; }
  .btn-outline-light:hover {
    color: #212529 !important; }

.list-group-item.active {
  color: #ffffff !important;
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important; }

.btn-icon {
  padding: 8px 10px !important; }

.table td .badge, .table th .badge {
  font-size: 12px;
  border-width: 2px; }

/*# sourceMappingURL=iea-admin.css.map */
